bin/default/
bin/
gradle/
target/
data/
build/
.history/
.gradle/
.settings/
out/
*.iml
*.*/*.iml

*.*/*.class

# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs/
*.*/*.log
*.log

# Ignore the build directory
dist/

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

.classpath
.project
gradlew
gradlew.bat
.metadata/



#execute the command git config --global core.excludesfile ~/.gitignore
